!
frr version 7.5.1_git
frr defaults traditional
hostname R-{{ row }}-{{ col }}
password 1
log file /var/log/frr/isisd.log
!
interface lo
 ipv6 address {{ loopback_ipv6 }}
 ipv6 router isis {{ isis_area }}
 isis passive
!
!
! P2P interfaces
{% for iface in interfaces %}
interface {{ iface.name }}
 ipv6 address {{ iface.addr }}
 ipv6 router isis {{ isis_area }}
 isis network point-to-point
 isis hello-interval {{ isis_hello_interval | default(1) }}
 isis hello-multiplier {{ isis_hello_multiplier | default(5) }}
 isis metric {{ isis_metric | default(10) }}
!
{% endfor %}
!
router isis {{ isis_area }}
 net {{ net_address }}
 is-type {{ level_type | default('level-1') }}
 metric-style {{ metric_style | default('wide') }}
 topology ipv6-unicast
 !
 ! SPF tuning (IETF style, milliseconds)
 spf-delay-ietf init-delay {{ spf_init_delay | default(100) }} short-delay {{ spf_short_delay | default(0) }} long-delay {{ spf_long_delay | default(0) }} holddown {{ spf_holddown | default(0) }} time-to-learn {{ spf_time_to_learn | default(0) }}
 !
 ! Faster LSP generation (default 5s, reduced to 2s)
 lsp-gen-interval {{ isis_lsp_gen_interval | default(2) }}
!
line vty
!
